* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  -ms-overflow-style: none;
  /* width: min(105%, 1200px); */
}

*::-webkit-scrollbar {
  display: none;
}

a {
  text-decoration: none;
  color: inherit;
}
